.history .history-container {
  padding: 2rem 2rem 0;
}

.history .history-container h1 {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  max-width: fit-content;
  padding: 5px 15px;
  border-radius: 50px;
  background: #000000; 
  background: -webkit-linear-gradient(
    to bottom,
    #e74c3c,
    #000000
  ); 
  background: linear-gradient(
    to bottom,
    #e74c3c,
    #000000
  ); 
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-block: 3rem;
}

.history .history-row{
    row-gap: 1rem;
    margin-block: 6rem 2rem;
}

.history .history-item {
  margin-bottom: 2rem;
  text-align: center;
  padding: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 15px;
}

.history .history-item .history-img {
  border-radius: 15px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.history .history-item h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: red;
}

.history .history-item p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: black;
}

@media (min-width: 576px) {
  .history .history-item {
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .history .history-item {
    padding: 3rem;
  }
}

@media (min-width: 992px) {
  .history .history-item {
    padding: 4rem;
  }
}
