@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/wall1.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(0.4);
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.home-content h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
  font-family: "Fredericka the Great", cursive;
}

.home-btn {
  background-color: transparent;
  border: 2px solid white;
  padding: 0.75rem 2rem;
  font-size: 1.25rem;
  border-radius: 50px;
  transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
  font-family: "Bakbak One", cursive;

  &:hover {
    background-color: white;
    color: red;
    transform: scale(1.05);
    border: 2px solid transparent;
  }

  &:active {
    border: 2px solid red;
  }
}

@media (max-width: 768px) {
  .home-content h1 {
    font-size: 2rem;
  }
}
