.titles .titles-container {
  padding: 2rem 2rem 2rem;
  background-color: #f8f8f8;
}

.titles .titles-container h1 {
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  max-width: fit-content;
  padding: 5px 15px;
  border-radius: 50px;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #e74c3c, #000000);
  background: linear-gradient(to bottom, #e74c3c, #000000);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-block: 3rem;
}

.titles .table {
  background-color: #fff;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-block: 6rem 2rem;
  border-radius: 50px;
}

.titles .table thead th {
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #e74c3c, #000000);
  background: linear-gradient(to bottom, #e74c3c, #000000);
  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 16px 16px 10px;
}

.titles .table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.titles .table tbody td {
  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
}

.titles #comp-logo {
  width: 40px;
}
