@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");

.topbar {
  background: #000000; 
  background: -webkit-linear-gradient(
    to top,
    #e74c3c,
    #000000
  ); 
  background: linear-gradient(
    to top,
    #e74c3c,
    #000000
  ); 
  border-radius: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-inline: 10px;
  margin-top: 10px;
  padding-inline: 20px;
}

.topbar-brand #liverpool-logo {
  width: 30px;
}
.topbar-item {
  font-family: "Bakbak One", cursive;
  text-decoration: none;
}

.topbar-item span {
  color: white;
  padding: 5px 10px;
}

.topbar-item span:hover {
  background-color: white;
  color: red;
  border-radius: 50px;
}

.mx-auto{
  text-align: center;
}

#navbar-toggle{
  background-color: white;
  border-radius: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.social-icons{
  color: white;
  border-radius: 50px;
  padding: 2px 2px;
}

.social-icons:hover{
  color: red;
  background-color: white;
}

.social-list{
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .social-list{
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  .ms-auto{
    margin-top: 1.5rem;
  }
}