.topbar {
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #e74c3c, #000000);
  background: linear-gradient(to bottom, #e74c3c, #000000);
  border-radius: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-inline: 10px;
  margin-top: 10px;
  padding-inline: 20px;
}

.topbar .topbar-brand #liverpool-logo {
  width: 30px;
}

.topbar .topbar-item {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.topbar .topbar-item span {
  color: white;
  padding: 5px 10px;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.topbar .topbar-item span:hover {
  background-color: white;
  color: red;
  border-radius: 50px;
}

.topbar .mx-auto {
  text-align: center;
}

.topbar #navbar-toggle {
  background-color: white;
  border-radius: 50px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.topbar .social-icons {
  color: white;
  margin-left: 5px;
}

.topbar .social-list {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .topbar .social-list {
    margin-block: 2rem;
  }
}
